#root .container {
  padding-right: 15px;
  padding-left: 15px;
}

.row .btn {
  width: 100%;
  margin: 25px 15px;
  padding: 0.375rem 0.75rem;
  background-color: #32383e;
  border: 1px solid #007c5d;
  color: #fff!important;
  -webkit-transition: .3s;
  transition: .3s;
  &:hover,
  &:focus,
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled):active:hover,
  &:not([disabled]):not(.disabled).active:hover {
    border-color: #007c5d;
  }
  &.active {
    background-color: #00bc8c;
    &:hover {
      text-shadow: 0 0 4px rgba(0, 0, 0, 1);
      background-color: #00efb2;
    }
  }
}

.container .row {
  margin-right: -14px;
  margin-left: -14px;
}