.header .logo {
  background-image: url('../../assets/img/logo.png');
  width: 200px;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
}

.top-panel {
  margin-top: 15px;
  margin-bottom: 5px;
  justify-content: space-between;
  & > h5 {
    cursor: default;
  }
}

@media (max-width: 470px) {
  .top-panel {
    & > h5 {
      font-size: 1rem;
    }
  }
}
